.embla {
  @apply relative ml-auto mr-auto;
  --slide-spacing: 0rem;
  --slide-size: 100%;
  --slide-height: 100vh;
}

.embla__viewport {
  @apply overflow-hidden w-full;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  @apply flex flex-row;
}

.embla__slide {
  @apply relative  min-w-full;
}

.embla__nested {
  @apply relative max-w-full h-full;

  /* background-color: #f7f799; */
}

.embla__nested__viewport {
  @apply overflow-hidden w-full;
}

.embla__nested__container {
  @apply flex flex-col select-none relative min-w-full;
  height: calc(var(--slide-spacing) + var(--slide-height));
}

.embla__slide__nested {
  @apply relative min-w-full  overflow-hidden;
  flex: 0 0 var(--slide-size);
}

.embla__slide__inner {
  @apply relative overflow-hidden h-full;
}

.embla__slide__inner__nested {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.embla__slide__img__nested {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__button {
  @apply cursor-pointer bg-transparent touch-manipulation absolute z-[1] -translate-y-2/4 w-[30px] h-[30px] justify-center items-center fill-[#1bcacd] p-0 border-0 top-2/4 disabled:cursor-default disabled:opacity-30;
  outline: 0;
}
.embla__button__svg {
  @apply w-full h-full;
}
.embla__button__prev {
  @apply -left-40;
}
.embla__button__next {
  @apply -right-40;
}
/* .embla__dots {
  @apply flex justify-center float-right rotate-90 pt-[100px];
  list-style: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.embla__dot {
  @apply bg-transparent cursor-pointer relative w-1 h-1 flex items-center mx-[7.5px] p-0 border-0 after:bg-black after:w-full after:h-1 after:content-[''] after:rounded-sm;
  outline: 0;
}
.embla__dot.is-selected:after {
  @apply bg-black opacity-100;
} */

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  float: right;
  padding-top: 100px;
  margin-top: -100px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: '';
}

.embla__dot.is-selected:after {
  background-color: #000000;
  /* outline-offset: 4px;
  outline:1px solid black; */
  opacity: 1;
}
.menu {
  @apply text-2xl ml-32;
}
@media only screen and (max-width: 768px) {
  .menu {
    @apply text-[2rem] float-left ml-0;
  }
  .embla__button__prev {
    @apply left-[-280px];
  }
  .embla__button__next {
    @apply right-[-280px];
  }
}
.prevBtn {
  @apply bg-transparent cursor-pointer touch-manipulation absolute z-[1] justify-center items-center border-none scale-[0.15] top-[40%] disabled:cursor-default disabled:opacity-30;

  /* background-color: #1bcacd; */
}
.nextBtn {
  @apply bg-transparent cursor-pointer absolute z-[1] justify-center items-center border-none scale-[0.15] left-[60%] top-[40%] disabled:cursor-default disabled:opacity-30;

  /* padding-left:-8rem; */
}

.video {
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 0;
}
